/*--------------------------------------------------------------
 ** Google Fonts Integration
----------------------------------------------------------------*/
/** Switzer **/
@font-face {
  font-family: "Switzer";
  src: url("../fonts/switzer/Switzer-Variable.woff2") format("woff2"),
    url("../fonts/switzer/Switzer-Variable.woff") format("woff"),
    url("../fonts/switzer/Switzer-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* Satoshi Regular */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* Satoshi Medium */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

/* Satoshi Bold */
@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi/Satoshi-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

/* Example usage */
body {
  font-family: "Satoshi", sans-serif;
}
