/*--------------------------------------------------------------
** All Variable
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --heading-color: #222;
  --body-color: #777;
  --gray-color: #f2f2f2;
  --border-color: #aaa;
  --heading-font: "Switzer", sans-serif;
  --body-font: "Satoshi", sans-serif;
}
