/*--------------------------------------------------------------
  8. Footer
----------------------------------------------------------------*/

.cs_footer_style_1 {
  li {
      &:not(:last-child) {
        margin-bottom: 37px;
      }
    }
    .cs_footer_widget_menu {
      li {
        &:not(:last-child) {
          margin-bottom: 16px;
        }
      }
    }
}

.cs_newsletter {
  border-bottom: 0.5px solid var(--border-color);
  padding: 60px 0 70px;
  .cs_newsletter_title {
    max-width: 700px;
    width: 100%;
  }
  .cs_newsletter_title_font {
    
      font-weight: 400;
      font-size: 96px;
      line-height: 1.25em;
  }
  .cs_newsletter_form {
    margin-top: 80px;

    .cs_newsletter_input {
      max-width: 491px;
      width: 100%;
      border: 0;
      outline: 0;
      border-bottom: 0.5px solid var(--border-color);
      padding: 12px 18px 18px 18px;

    }
    .cs_newsletter_btn {
      background-color: var(--gray-color);
      color: var(--heading-color);
    }
  }
}
.cs_footer_top {
  // padding-top: 60px;
}
  .cs_main_footer {
    padding: 60px 0 100px;
    .cs_footer_widget_text {
      max-width: 700px;
      width: 100%;
      padding-top: 32px;
    }
  }

  .cs_nav_widget {
    max-width: 700px;
    width: 100%;

    .cs_footer_widget_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 26px;
  }   
}
    .cs_copyright {
      padding: 22px 0;
    }
  
