/*--------------------------------------------------------------
  4. General
----------------------------------------------------------------*/

@media (min-width: 1400px) {
  .container {
    max-width: 1364px;
  }
  .container-fluid {
    max-width: 1440px;
  }
}
.cs_fs_16 {
  font-size: 16px;
  line-height: 1.5em;
}
.cs_fs_18 {
  font-size: 18px;
  line-height: 1.33em;
}
.cs_fs_20 {
  font-size: 20px;
  line-height: 1.35em;
}
.cs_fs_24 {
  font-size: 24px;
  line-height: 1.33em;
}
.cs_fs_32 {
  font-size: 32px;
  line-height: 1.25em;
}
.cs_fs_42 {
  font-size: 42px;
  line-height: 1.34em;
}
.cs_fs_48 {
  font-size: 48px;
  line-height: 1.33em;
}

.cs_fs_80 {
  font-size: 80px;
  line-height: 1.1em;
}
.cs_fs_86 {
  font-size: 86px;
  line-height: 1.33em;
}
.cs_fs_96 {
  font-size: 96px;
  line-height: 1.33em;
}

.cs_fs_132 {
  font-size: 132px;
  line-height: 1.32em;
}

.cs_light {
  font-weight: 300;
}

.cs_normal {
  font-weight: 400;
}

.cs_medium {
  font-weight: 500;
}

.cs_semibold {
  font-weight: 600;
}

.cs_bold {
  font-weight: 700;
}

.cs_radius_3 {
  border-radius: 3px;
}

.cs_radius_5 {
  border-radius: 5px;
}

.cs_radius_7 {
  border-radius: 7px;
}

.cs_radius_10 {
  border-radius: 10px;
}

.cs_radius_15 {
  border-radius: 15px;
}

.cs_radius_20 {
  border-radius: 20px;
}

.cs_mp_0 {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cs_opacity_1 {
  opacity: 0.1;
}

.cs_opacity_2 {
  opacity: 0.2;
}

.cs_opacity_3 {
  opacity: 0.3;
}

.cs_opacity_4 {
  opacity: 0.4;
}

.cs_opacity_5 {
  opacity: 0.5;
}

.cs_opacity_6 {
  opacity: 0.6;
}

.cs_opacity_7 {
  opacity: 0.7;
}

.cs_opacity_7_5 {
  opacity: 0.75;
}

.cs_opacity_8 {
  opacity: 0.8;
}

.cs_opacity_9 {
  opacity: 0.9;
}

.cs_gap_y_20 {
  gap: 20px 0;
}

.cs_gap_y_24 {
  gap: 24px 0;
}

.cs_gap_y_30 {
  gap: 30px 0;
}

.cs_gap_y_35 {
  gap: 35px 0;
}

.cs_gap_y_40 {
  gap: 40px 0;
}

.cs_gap_y_45 {
  gap: 45px 0;
}

.cs_gap_y_50 {
  gap: 50px 0;
}

.cs_gap_y_60 {
  gap: 60px 0;
}

.cs_gap_y_65 {
  gap: 65px 0;
}

.cs_gap_y_80 {
  gap: 80px 0;
}

.cs_gap_y_100 {
  gap: 100px 0;
}

.cs_gap_x_72 {
  margin-left: -36px;
  margin-right: -36px;
  > * {
    padding-left: 36px;
    padding-right: 36px;
  }
}
.cs_gap_x_82 {
  margin-left: -41px;
  margin-right: -41px;
  > * {
    padding-left: 41px;
    padding-right: 41px;
  }
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid var(--heading-color);
  opacity: 1;
}

.cs_bg_filed {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.cs_bg_fixed {
  background-attachment: fixed;
  @media (max-width: 1370px) {
    background-attachment: initial;
  }
}
.cs_center_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cs_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cs_white_color {
  color: var(--white-color);
}

.cs_heading_color {
  color: var(--heading-color);
}

.cs_body_color {
  color: var(--body-color);
}
.cs_gray_color {
  color: var(--gray-color);
}
.cs_border_color {
  color: var(--border-color);
}

.cs_white_bg {
  background-color: var(--white-color);
}

.cs_heading_bg {
  background-color: var(--heading-color);
}

.cs_secondary_bg {
  background-color: var(--body-color);
}

.cs_gray_bg {
  background-color: var(--gray-color);
}

/* Start Accordion */
.cs_accordians_style_1 {
  // margin-left: 60px;
  @media (max-width: 1400px) {
    margin-left: 20px;
  }
  @media (max-width: 1199px) {
    margin-left: 0px;
  }
  .cs_accordian_title {
    margin-bottom: 0;
    transition: all 0.3s ease;
  }
  .cs_accordian_body {
    padding-bottom: 30px;
    margin-top: -8px;
    p {
      margin: 0;
    }
  }
  .cs_accordian_head {
    padding: 30px 0px;
    position: relative;
    cursor: pointer;
    @media (max-width: 991px) {
      padding: 15px 25px 15px 0px;
      svg {
        width: 15px;
      }
    }
    &:hover {
      .cs_accordian_title {
        color: var(--heading-color);
      }
    }
  }
  .cs_accordian {
    border-bottom: 0.5px solid var(--border-color);
    &.active {
      .cs_accordian_head {
        pointer-events: none;
      }
      .cs_accordian_toggle {
        &::after {
          transform: translate(-50%, -50%) rotate(90deg) scale(0);
        }
      }
    }
  }
  .cs_accordian_toggle {
    display: flex;
    position: absolute;
    top: 39px;
    right: 0;
    height: 33px;
    width: 33px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: var(--heading-color);
      top: 50%;
      left: 50%;
      transition: all 0.3s ease;
      transform: translate(-50%, -50%);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(90deg) scale(1);
    }
  }
}
.cs_accordian_border {
  border: 1px solid var(--border-color);
}
/* End Accordion */

.cs_custom_pointer_wrap {
  position: relative;
  .cs_mouse_point {
    position: absolute;
    z-index: 10;
    width: 360px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform ease 0.4s, opacity ease 0.4s;
    pointer-events: none;
  }
  &:hover {
    .cs_mouse_point {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.cs_btn_style_1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 16px 40px;
  outline: none;
  border: 1px solid currentColor;
  img {
    transition: all 0.3s ease;
  }
  &:hover {
    img {
      transform: translateX(5px);
    }
  }
  &.cs_btn_color_1 {
    background-color: var(--gray-color);
    color: var(--heading-color);
    border-color: var(--gray-color);
    &:hover {
      background-color: var(--white-color);
      color: #222222d4;
    }
  }
}

.cs_button_style_2 {
  border: none;
  border-radius: 1.8em;
  line-height: 1.625em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  padding: 0;
  background-color: transparent;
  transition: all 0.4s ease;
  @media (max-width: 991px) {
    padding: 12px 25px;
  }
  @media (max-width: 575px) {
    &:not(.cs_type_1, .cs_type_5, .cs_type_4) {
      width: 100%;
    }
  }
  span {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 13px;
    color: var(--accent);
    svg {
      transform: rotate(45deg);
    }
  }
  u {
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 0px;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background-color: currentColor;
      transition: all 0.4s ease;
    }
  }
  i {
    transform: rotate(-45deg);
    transition: all 0.5s;
    color: inherit;
    &:last-child {
      position: absolute;
      content: "\f061";
      font-family: "Font Awesome 6 Free";
      font-weight: 900;
      left: -19px;
      bottom: -21px;
      transform: translate(0, 0) rotate(-45deg);
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s;
      color: currentColor;
    }
  }

  &:hover {
    background-color: transparent;
    color: var(--heading-color);
    i {
      &:first-child {
        transform: translate(20px, -20px) rotate(-45deg);
      }
      &:last-child {
        opacity: 1;
        visibility: visible;
        transform: translate(20px, -20px) rotate(-45deg);
      }
    }
    u::after {
      width: 80%;
    }
  }
}

.cs_section_subtitle {
  position: relative;
  padding-left: 19px;

  &::before {
    content: "";
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: currentColor;
    position: absolute;
    top: 13px;
    left: 0;
  }
}
.cs_brand_section_style_1 {
  .cs_brand {
    text-align: center;
    height: 100px;
  }
  .slick-slide {
    img {
      display: inline-block;
    }
  }
}
.cs_inside_span_secondary_color {
  span {
    color: var(--body-color);
  }
}
.cs_inside_span_border_color {
  span {
    color: var(--border-color);
  }
}

.cs_hover_img {
  overflow: hidden;
  display: inline-flex;
  img {
    transition: all 0.6s ease-in-out;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.cs_hover_text_opacity_8 {
  transition: all 0.3s ease;
  &:hover {
    opacity: 0.8;
  }
}

.cs_flex_between {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
.cs_custom_row_2 {
  display: flex;
  gap: 82px;
  .cs_custom_col_left {
    flex: none;
    width: 36%;
  }
  .cs_custom_col_right {
    flex: 1;
  }
}
