/*--------------------------------------------------------------
7. Header
----------------------------------------------------------------*/
.cs_site_header {
  position: absolute;
  z-index: 101;
  width: 100%;
  left: 0;
  top: 0px;
  transition: all 0.4s ease;
}

.cs_site_header.cs_style_1 {
  .cs_main_header_in,
  .cs_top_header_in {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .cs_main_header_in {
    height: 120px;
    transition: all 0.3s ease;
  }
  .cs_top_header_in {
    height: 50px;
  }
  .cs_main_header_right {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 50px;
    @media (max-width: 1199px) {
      padding-right: 50px;
    }
  }
}

.cs_site_header.cs_style_1 {
  &.cs_sticky_active {
    background-color: var(--white-color);
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.06);
    .cs_main_header_in {
      height: 100px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .cs_site_header.cs_style_1 {
    .cs_top_header_in {
      justify-content: center;
    }
  }
  .cs_main_header .container {
    max-width: 100%;
  }

  .cs_site_header.cs_style_1 {
    .cs_nav {
      display: flex;
    }
  }
}

.cs_nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cs_sticky_header {
  position: fixed !important;
  width: 100%;
  z-index: 999;
  .cs_top_header_in {
    overflow: hidden;
    transition: all 0.3s ease;
  }
}

.cs_site_branding {
  display: inline-flex;
  + .cs_nav {
    margin-left: 80px;
    @media (max-width: 1600px) {
      margin-left: 40px;
    }
    @media (max-width: 1540px) {
      margin-left: 30px;
    }
  }
}
.cs_main_header {
  position: relative;

  .container-fluid {
    padding-right: 120px;
    padding-left: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .cs_main_header_center,
  .cs_top_header_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .cs_nav {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 1.6em;

    .cs_nav_list {
      display: flex !important;
      flex-wrap: wrap;
      height: inherit;

      > li {
        margin-right: 59px;
        height: inherit;

        &:last-child {
          margin-right: 0;
        }

        > a {
          padding: 10px 0;
          display: inline-flex;
          position: relative;
          height: inherit;
          align-items: center;
          color: var(--heading-color);
          &:hover {
            opacity: 0.65;
          }
        }

        > ul {
          left: 0;
          top: calc(100% + 15px);
          pointer-events: none;
        }

        &:hover {
          > ul {
            top: 100%;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
          }
        }
        &.menu-item-has-children {
          > a {
            position: relative;
          }
        }
      }

      ul {
        width: 260px;
        background-color: var(--white-color);
        position: absolute;
        border-top: 2px solid var(--heading-color);
        box-shadow: 0px 1px 2px 0px rgba(2, 0, 181, 0.1);
        padding: 10px 0;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        display: block !important;
        border-radius: 0 0 5px 5px;
        transition: all 0.4s ease;

        li {
          &:hover {
            ul {
              top: 0px;
            }

            > ul {
              opacity: 1;
              visibility: visible;
              transition: all 0.4s ease;
            }
          }
        }

        a {
          display: block;
          line-height: inherit;
          padding: 10px 20px;
          &:hover {
            background-color: #f2f2f2;
          }
        }

        ul {
          top: 15px;
          left: 100%;
        }
      }
    }
  }
  .cs_menu_toggle,
  .cs_munu_dropdown_toggle {
    display: none;
  }
}

@media screen and (max-width: 1600px) {
  .cs_main_header {
    .container-fluid {
      padding-right: 25px;
      padding-left: 25px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .cs_main_header {
    .container-fluid {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
  .cs_munu_dropdown_toggle {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 23px 18px;
    cursor: pointer;
    z-index: 3;

    span {
      display: block;
      position: relative;
      height: 10px;
      width: 10px;
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 2px;
        width: 10px;
        background-color: currentColor;
        transition: all 0.3s ease;
      }

      &:before {
        transform: translate(-50%, -50%) rotate(90deg);
      }
    }

    &.active {
      span {
        &:before {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }
  }
  .menu-item-has-children {
    .menu-item-has-children {
      .cs_munu_dropdown_toggle {
        padding: 20px 18px;
      }
    }
  }
  .cs_site_branding {
    position: relative;
    z-index: 101;
  }
  .cs_nav {
    .cs_nav_list_wrap {
      position: fixed;
      width: 100vw;
      left: -100vw;
      background-color: var(--white-color);
      color: var(--heading-color);
      top: 0;
      height: 100vh;
      line-height: 1.6em;
      padding-top: 80px;
      transition: all 0.4s ease;
      &.cs_active {
        left: 0vw;
      }
    }
    .cs_nav_list {
      padding: 10px 0;
      height: 100%;
      overflow: auto;
      ul {
        padding-left: 15px;
        display: none;
      }

      a {
        display: block;
        padding: 12px 15px;
        line-height: 16px;
        &:hover {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      > li {
        > a {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    .menu-item-has-children {
      position: relative;
    }
  }

  /*Mobile Menu Button*/
  .cs_menu_toggle {
    display: inline-block;
    width: 30px;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 30px;
    color: var(--heading-color);

    span,
    span:before,
    span:after {
      width: 100%;
      height: 2px;
      background-color: currentColor;
      display: block;
    }

    span {
      margin: 0 auto;
      position: relative;
      top: 12px;
      transition-duration: 0s;
      transition-delay: 0.2s;

      &:before {
        content: "";
        position: absolute;
        margin-top: -9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }

      &:after {
        content: "";
        position: absolute;
        margin-top: 9px;
        transition-property: margin, transform;
        transition-duration: 0.2s;
        transition-delay: 0.2s, 0s;
      }
    }
  }
  .cs_site_header.cs_style_1 {
    .cs_menu_toggle {
      top: 50%;
      right: 0px;
      margin-top: -13px;
    }
  }

  .cs_toggle_active {
    span {
      background-color: rgba(0, 0, 0, 0);
      transition-delay: 0.2s;

      &:before {
        margin-top: 0;
        transform: rotate(45deg);
        transition-delay: 0s, 0.2s;
      }

      &:after {
        margin-top: 0;
        transform: rotate(-45deg);
        transition-delay: 0s, 0.2s;
      }
    }
  }

  .cs_nav {
    .cs_nav_list {
      a {
        position: relative;
      }
    }
  }

  .cs_site_header.cs_style_1 {
    .cs_main_header_in {
      height: 80px;
    }
  }

  .cs_site_header {
    .current-menu-item {
      > a:before {
        display: none;
      }
    }
  }
  .cs_site_header.cs_style_1 {
    .cs_main_header_center {
      .cs_site_branding {
        position: absolute;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .cs_site_header.cs_style_1 {
    top: 0;
  }

  .cs_nav .cs_nav_list img {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .cs_site_header .container {
    max-width: 100%;
  }
}
