/*--------------------------------------------------------------
  5. Slider
----------------------------------------------------------------*/
.cs_slider {
  position: relative;
}

.slick-arrow {
  cursor: pointer;
}
.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}
.slick-slide > div {
  display: flex;
  flex-direction: column;
}
.cs_remove_overflow {
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;

    &.slick-active {
      opacity: 1;
      visibility: visible;
    }
  }
}
.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }
  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.cs_slider_gap_104 {
  .slick-slide {
    padding-left: 52px;
    padding-right: 52px;
  }
  .slick-list {
    margin-left: -52px;
    margin-right: -52px;
  }
}

.cs_slider_arrows.cs_style_1 {
  gap: 30px;
}

.cs_pagination.cs_style_1 {
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    width: 100%;
  }

  li {
    display: flex;
    flex: 1;
    height: 4px;
    button {
      height: 100%;
      width: 100%;
      font-size: 0;
      color: transparent;
      padding: 0;
      background-color: rgb(249 251 243 / 50%);
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgb(249 251 243 / 75%);
      }
    }

    &.slick-active {
      button {
        background-color: var(--white-color);
      }
    }
  }
}

@media (max-width: 991px) {
  .cs_hide_lg {
    display: none;
  }
}

.cs_show_lg {
  display: none !important;
}
@media (max-width: 991px) {
  .cs_hide_lg {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .cs_show_lg {
    display: flex !important;
  }
}

.cs_slider_indicator {
  max-width: 875px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

// slider number

.cs_slider_number {
  .cs_current_number,
  .cs_slider_number_seperator {
    color: var(--gray-color);
    font-size: 42px;
  }
  > span[data-number]:before {
    content: "0" attr(data-number);
  }
  > span {
    &:before {
      content: attr(data-number);
      display: none;
    }
    > span {
      display: block;
    }
  }

  [data-number="1"],
  [data-number="2"],
  [data-number="3"],
  [data-number="4"],
  [data-number="5"],
  [data-number="6"],
  [data-number="7"],
  [data-number="8"],
  [data-number="9"] {
    &::before {
      display: block;
    }
    > span {
      display: none;
    }
  }
}
