/*--------------------------------------------------------------
  5. Slider
----------------------------------------------------------------*/
.cs_slider {
  position: relative;
}

.slick-arrow {
  cursor: pointer;
}
.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}
.slick-slide > div {
  display: flex;
  flex-direction: column;
}
.cs_remove_overflow {
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;

    &.slick-active {
      opacity: 1;
      visibility: visible;
    }
  }
}
.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }
  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}
.cs_slider_gap_104 {
  .slick-slide {
    padding-left: 52px;
    padding-right: 52px;
  }
  .slick-list {
    margin-left: -52px;
    margin-right: -52px;
  }
}

.cs_slider_arrows.cs_style_1 {
  .cs_arrow_wrap_left,
  .cs_arrow_wrap_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .cs_left_arrow,
  .cs_right_arrow {
    height: 60px;
    width: 60px;
    flex: none;
    background-color: var(--heading-color);
    transition: all 0.4s ease;
    color: var(--white-color);
    @media (max-width: 991px) {
      width: 50px;
      height: 50px;
    }

    &:hover {
      background-color: var(--heading-color);
    }
  }
  .cs_arrow_wrap_left {
    left: 0;
  }
  .cs_arrow_wrap_right {
    right: 0;
  }
}

.cs_pagination.cs_style_1 {
  display: flex;
  justify-content: center;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex !important;
    width: 100%;
  }

  li {
    display: flex;
    flex: 1;
    height: 4px;
    button {
      height: 100%;
      width: 100%;
      font-size: 0;
      color: transparent;
      padding: 0;
      background-color: rgb(249 251 243 / 50%);
      border: none;
      outline: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background-color: rgb(249 251 243 / 75%);
      }
    }

    &.slick-active {
      button {
        background-color: var(--white-color);
      }
    }
  }
}

@media (max-width: 991px) {
  .cs_hide_lg {
    display: none;
  }
}

.cs_show_lg {
  display: none !important;
}
@media (max-width: 991px) {
  .cs_hide_lg {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .cs_show_lg {
    display: flex !important;
  }
}
