/*====================================================
 23. Award
======================================================*/
.cs_awards_style_1 {
  .cs_award {
    padding: 30px 40px 0;
    border-bottom: 1px solid var(--border-color);


    &:last-child {
      border-bottom: none;
    }

    .cs_award_header {
      gap: 55px;
      padding-bottom: 30px;
      transition: all 0.6s ease;
    }

    .cs_award_title {
      flex: none;
      width: 41%;
    }

    .cs_award_category {
      flex: 1;
    }

    .cs_award_content {
      gap: 55px;
      position: relative;
      height: 0;
      overflow: hidden;
      clip-path: inset(0 0 100% 0);
      transition: clip-path 0.6s ease;
    }

    .cs_award_thumb {
      flex: none;
      width: 41%;
    }

    .cs_award_info {
      flex: 1;
    }

    &.active {
      padding-bottom: 30px;

      .cs_award_content {
        height: auto;
        clip-path: inset(0 0 0 0);
        transition: clip-path 0.6s ease;
      }
    }
  }

  @media (max-width:991px) {
    .cs_award {
      padding: 30px 0 0;

      .cs_award_content,
      .cs_award_header {
        gap: 30px;
      }

      .cs_award_thumb,
      .cs_award_title {
        width: calc(50% - 30px);
      }

      &:first-child {
        padding-top: 0;
      }
    }
  }

  @media (max-width:767px) {
    .cs_award {

      .cs_award_content,
      .cs_award_header {
        gap: 15px;
        flex-direction: column;
      }

      .cs_award_thumb,
      .cs_award_title {
        width: 100%;
      }
    }
  }
}