.cs_award_style_1 {
  .cs_award_title {
    flex: none;
    width: 45%;
  }
  .cs_award_category {
    flex: 1;
  }
  .cs_award_thumb {
    flex: none;
    width: 45%;
  }
  .cs_award_info {
    flex: 1;
  }
}
