.cs_awards_style_1 {
  .cs_award {
    padding: 30px 40px;
    border-bottom: 1px solid var(--border-color);
    &:last-child {
      border-bottom: none;
    }

    .cs_award_header {
      gap: 55px;
    }
    .cs_award_title {
      flex: none;
      width: 41%;
    }
    .cs_award_category {
      flex: 1;
    }
    .cs_award_content {
      gap: 55px;
      position: relative;
      overflow: hidden;
      max-height: 0;
      transition: all 0.8s ease;
    }
    .cs_award_thumb {
      flex: none;
      width: 41%;
    }
    .cs_award_info {
      flex: 1;
    }
    &.active {
      .cs_award_content {
        max-height: 400px;
        padding-top: 30px;
      }
    }
  }
}
