.cs_contact_info_left {
  > ul {
    gap: 50px;
  }
  .cs_contact_info_item {
    > h3 {
      color: var(--border-color);
    }
  }
}

.cs_contact_info_item > a {
  color: var(--white-color);
  &:hover {
    opacity: 0.8;
  }
}
