/*--------------------------------------------------------------
  12. CTA
----------------------------------------------------------------*/
.cs_banner_style_1 {
  min-height: 720px;
}
.cs_about_banner_style_1 {
  min-height: 700px;
}
.cs_cta_wrap {
  padding: 70px 0px;
}
