.cs_experience_content {
  padding: 30px 0;
  border-bottom: 1px solid var(--border-color);
  &:last-child {
    border-bottom: none;
  }
}
.cs_experience_content_left {
  flex: none;
  width: 39%;
  .cs_experience_meta {
    gap: 8px;
  }
  span {
    padding-left: 12px;
    display: block;
    position: relative;
    &:before {
      content: "/";
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
.cs_experience_content_right {
  flex: 1;
}
