/*--------------------------------------------------------------
  10. Hero
----------------------------------------------------------------*/
.cs_hero_style_1 {
  .cs_hero_title {
    span {
      color: var(--body-color);
    }
  }
}
