.cs_post_card_style_1 {
  &.cs_blog_card_gap {
    margin-top: 65%;
  }
  .cs_post_meta_wrapper {
    padding: 10px 0;
  }
  .cs_meta_title {
    padding-bottom: 18px;
    font-size: 18px;
    font-weight: 700;
    a:hover {
      opacity: 0.8;
    }
  }
}

.cs_section_content_1 {
  display: flex;
  flex-direction: column;
}
