.cs_project_thumb {
  .cs_btn_style_1 {
    .cs_color_1 {
      background: var(--white-color);
      color: var(--heading-color);
    }
    position:absolute;
    bottom: 27px;
    right: 28px;
    border: 0;
    // transform: translateY(15px);
    // opacity: 0;
    // visibility: hidden;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  &:hover {
    .cs_btn_style_1 {
    // transform: translateY(0);
    // opacity: 1;
    // visibility: visible;
    transform: scale(1);
    background-color: rgb(243, 240, 240);    
  }
  }
}
