.cs_project_tabs_style_1 {
  position: relative;
  min-height: 550px;
  .cs_tab_links {
    position: absolute;
    height: 550px;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (max-width: 1199px) {
      height: 465px;
    }
    @media (max-width: 991px) {
      height: initial;
      position: initial;
      width: 100%;
      flex-direction: initial;
      justify-content: center;
      gap: 10px 30px;
      flex-wrap: wrap;
    }
    li {
      @media (min-width: 992px) {
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &.active a {
        font-weight: 700;
        color: var(--primary-color);
      }
    }
  }
}
.cs_project_style_1 {
  .cs_btn_style_1 {
    position: absolute;
    bottom: 27px;
    right: 28px;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  &:hover {
    .cs_btn_style_1 {
      transform: scale(1);
    }
  }
  .cs_project_title {
    a {
      color: var(--heading-color);
      background-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        currentColor 0,
        currentColor 100%
      );
      transition: background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
        color 0.27s ease-out;
      background-position: 100% calc(100% - 0px);
      background-size: 0 2px;
      &:hover {
        opacity: 0.8;
        background-size: 100% 2px;
        background-position: 0 calc(100% - 0px);
      }
    }
  }
  .cs_project_info {
    gap: 5px 15px;
  }
  &.cs_type_1 {
    max-width: 446px;
    @media (max-width: 1199px) {
      max-width: 370px;
    }
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  &.cs_type_2 {
    max-width: 473px;
    @media (max-width: 1199px) {
      max-width: 400px;
    }
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  &.cs_type_3 {
    max-width: 548px;
    margin-left: auto;
    @media (max-width: 1199px) {
      max-width: 390px;
    }
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
}
.cs_projects_grid {
  .row .col-lg-6 {
    &:nth-child(4n + 0) {
      align-self: end;
    }
  }
  .cs_tab_links_space {
    height: 550px;
    @media (max-width: 1199px) {
      height: 465px;
    }
    @media (max-width: 991px) {
      height: initial;
    }
  }
}
.cs_project_style_2 {
  .cs_project_info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 23px;
    a {
      background-repeat: no-repeat;
      background-image: linear-gradient(
        90deg,
        currentColor 0,
        currentColor 100%
      );
      transition: background-size 0.42s cubic-bezier(0.49, 0.49, 0.08, 1),
        color 0.27s ease-out;
      background-position: 100% calc(100% - 0px);
      background-size: 0 2px;
      &:hover {
        color: var(--white-color);
        background-size: 100% 2px;
        background-position: 0 calc(100% - 0px);
      }
    }
  }
  .cs_mouse_point {
    height: 218px;
    width: 218px;
    border-radius: 50%;
    padding: 10px;
  }
}

.cs_section_heading {
  // max-width: 40%;
}
.cs_process_banner {
  display: flex;
  justify-content: space-between;
  gap: 53px;
  .cs_banner_img {
    max-width: 40%;
    flex: none;
  }
  .cs_banner_info {
    .cs_banner_wrapper {
      // width: 100%;
      display: flex;
      gap: 34px;
    }
    .cs_banner_card {
      height: 100%;
      display: flex;
      // flex-direction: column;
      gap: 56px;
      padding-bottom: 50px;
      border-bottom: 1px solid var(--border-color);
      .cs_banner_text {
        margin-top: auto;
      }
    }
  }
}
