.cs_pain_list {
  li {
    display: flex;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  .cs_pain_no {
    flex: none;
    width: 12.4%;
  }
}
.cs_project_info_list {
  display: grid;
  gap: 23px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 500px;
}

.cs_section_heading_style_4 {
  display: flex;
  gap: 20px 40px;
  text-align: center;
  .cs_section_title {
    padding-top: 60px;
  }
  .cs_project_info {
    width: 100%;
  }
}
.cs_project_style_3 {
  position: relative;
  .cs_project_info {
    position: absolute;
    padding: 23px;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    .cs_btn_style_1 {
      position: absolute;
      bottom: 23px;
      right: 23px;
      transform: scale(0);
      transition: all 0.4s ease;
    }
  }
  &:hover {
    .cs_btn_style_1 {
      transform: scale(1);
    }
  }
}
