.cs_project_style_1 {
  .cs_btn_style_1 {
    position: absolute;
    bottom: 27px;
    right: 28px;
    transform: scale(0);
    transition: all 0.4s ease;
  }
  &:hover {
    .cs_btn_style_1 {
      transform: scale(1);
    }
  }
  .cs_project_title {
    a {
    }
  }
}
