/*--------------------------------------------------------------
  13. Testimonial
----------------------------------------------------------------*/
.cs_testimonial_style_1,
.cs_testimonial_style_2 {
  .cs_tesmonial_slider {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cs_testimonial_image {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
.cs_testimonial_style_2 {
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 991px) {
    flex-direction: column;
  }
  .cs_testimonial_head {
    margin-bottom: 100px;
    @media (max-width: 1400px) {
      margin-bottom: 60px;
    }
    @media (max-width: 1199px) {
      margin-bottom: 40px;
    }
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  .cs_testimonial_text {
    margin-bottom: 60px;
    @media (max-width: 1199px) {
      margin-bottom: 40px;
    }
    @media (max-width: 991px) {
      margin-bottom: 30px;
    }
  }
  .cs_testimonial_quote_col {
    flex: none;
    width: 175px;
    @media (max-width: 1400px) {
      width: 120px;
    }
    @media (max-width: 991px) {
      display: none;
    }
  }
  .cs_testimonial_thumb_col {
    flex: none;
    width: 390px;
    @media (max-width: 1400px) {
      width: 290px;
    }
    @media (max-width: 991px) {
      width: 100%;
    }
  }
  .cs_testimonial_info_col {
    flex: 1;
    padding-left: 50px;
    width: 40%;
    @media (max-width: 991px) {
      width: 100%;
      padding-left: 0;
      padding-top: 40px;
    }
  }
}
