.cs_section_heading {
  .cs_section_tagline {
    max-width: 500px;
  }
  .cs_section_title {
    max-width: 40%;
  }
}
.cs_value_card_style_1 {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border-color);
  .cs_value_text {
    margin-top: auto;
  }
}
